### CUSTOM ###
application-local.yml
application-prod.yml
tmp

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/replay_pid32840.log
/replay_pid21908.log
/replay_pid19336.log
/replay_pid18788.log
/replay_pid17868.log
/replay_pid14248.log
/replay_pid7416.log

/hs_err_pid1976.log
/hs_err_pid7416.log
/hs_err_pid8180.log
/hs_err_pid8232.log
/hs_err_pid9820.log
/hs_err_pid10040.log
/hs_err_pid13656.log
/hs_err_pid15828.log
/hs_err_pid14248.log
/hs_err_pid15884.log
/hs_err_pid17868.log
/hs_err_pid18572.log
/hs_err_pid18788.log
/hs_err_pid19336.log
/hs_err_pid21452.log
/hs_err_pid22508.log
/hs_err_pid21908.log
/hs_err_pid26072.log
/hs_err_pid26312.log
/hs_err_pid27180.log
/hs_err_pid32840.log
/hs_err_pid35848.log
/.dockerignore
/doc/diagrams/1.svg
/tmp-redis-jar2/auto.txt
/cloudbaserc.json
/replay_pid3676.log
/replay_pid16236.log
/replay_pid16328.log
/prometheus.yml
/tmp-redis-jar2/META-INF/maven/dev.langchain4j/langchain4j-community-redis-spring-boot-starter/pom.xml
/tmp-redis-jar2/META-INF/maven/dev.langchain4j/langchain4j-community-redis-spring-boot-starter/pom.properties
/tmp-redis-jar2/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
/tmp-redis-jar2/META-INF/MANIFEST.MF
/src/test/java/com/sht/zdaicode/RedisTest.java
/tmp-redis-jar2/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreProperties.class
/tmp-redis-jar2/dev/langchain4j/community/store/embedding/redis/spring/RedisEmbeddingStoreAutoConfiguration.class
/hs_err_pid3676.log
/hs_err_pid16236.log
/future_optimizations.md.resolved
/hs_err_pid16328.log
/error.log
/Dockerfile
/replay_pid18528.log
/hs_err_pid18528.log
/hs_err_pid25648.log
/replay_pid25648.log
/tmp-redis-jar2/META-INF/spring-configuration-metadata.json
